*{margin: 0px; padding: 0;font-family: 'Roboto', sans-serif;}


header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, #fff 85%,hsl(191, 78%, 84%) 20% )    ;
    }
.navsection{
    width: 100%; background-color: aquamarine;
    height: 20vh;
    display: flex;
     justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to top, #fff 80%,hsl(191, 78%, 84%) 20% )    ;

}
.logo{
    width: 40%;
    color: #fff;
    background-image: linear-gradient(#8d98e3 40%,#854fee 60%);
    padding-left: 100px;
    box-sizing: border-box;
}
.logo h1{
    text-transform: uppercase;
    font-size: 1.6rem;
    animation: move 2s linear infinite;
    animation-direction: alternate;
    color: #000;

}
@keyframes move{
    from{padding-left: 60px;} to{
        padding-right: 40px;
    }
}
nav{
    width: 60%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    position: relative;
}
nav a:first-child , :last-child{
    color: #f10f96;
}
nav a:before{
    content: " ";
    position: absolute;
    top: 110%; left: 0; width: 0%; height: 2px;
    border-bottom: 3px solid rgb(5, 25, 247);
    transition: all 0.4s linear;
}
nav a:hover:before{width: 100%;
}
main{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.rightside{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-color: #cbf9c0;
}
.rightside img{
    max-width: 400px;
    height: auto;

}
.leftside{
    color: #000;
    text-transform: uppercase;
}
.leftside h3{
    margin-left: 2px;
    font-size: 50px;
    margin-bottom: 30px;
  
    position: relative;
}
.leftside h3:after{
    content: " ";
    width: 400px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 25px
    border-bottom: 4px ;
    background: red;
}
.leftside h1{
    margin-top: 10px;
    font-size: 50px;
    margin-bottom: 25px;
   color: #4458dc;
  
}
.leftside h2{
    font-weight: 100;
    word-spacing: 4px;
    margin-bottom: 35px;
    color: #f10f96;
}
.leftside .btn1 , .btn2{
    text-decoration: none;
    font-weight: 900;
    font-size: 15px;
    text-align: center;
    padding: 12px 25px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    margin-right: 50px;
    color: rgb(59, 15, 252); 
    border: double 5px transparent;
    box-shadow: 20px 20px 30px rgba(118,85,225,0.3);
      
}

.btn2:hover{
    margin-right: 50px;
    border: 2px solid #4458dc;
    color: #222;
    background-color: #fff;
    box-shadow: none;
}
.leftside .btn1:hover{
    border: 2px solid #4458dc;
    color: #222;
    background-color: #fff;
    /* background-image: none; */
    box-shadow: none;
}
